{% extends 'core/base.html' %}

{% block messages %}
  {% if messages %}
    {% for message in messages %}
      <div class="d-flex justify-content-center">
        {% if message.tags == 'success' %}
          <p class="text-xl font-weight-bold text-success">{{ message }}</p>
        {% elif message.tags == 'error' %}
          <p class="text-xl font-weight-bold text-danger">{{ message }}</p>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}


{% block content %}
  {% url 'index' as today %}
  {% url 'tomorrow' as tomorrow %}
  {% if request.path == today %}
    <a class="text-decoration-none m-4 fs-5" href="{% url 'tomorrow' %}">Watch tomorrow sessions</a>
    <h2 class="m-4 text-center">Today Sessions</h2>
    {% include 'core/sort_form.html' with page='index' %}
  {% elif request.path == tomorrow %}
    <a class="text-decoration-none m-4 fs-5" href="{% url 'index' %}">Watch today sessions</a>
    <h2 class="m-4 text-center">Tomorrow Sessions</h2>
    {% include 'core/sort_form.html' with page='tomorrow' %}
  {% endif %}
  {% if sessions %}
    <div class="container d-flex flex-wrap m-5">
      {% for session in sessions %}
        <div class="card m-3" style="width: 18rem;">
          <img height="450px" src="{{ session.movie.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ session.movie.name}}</h5>
            <p class="card-text">{{ session.description | truncatewords:25 }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-text fs-3">{{session.price}}$</p>
              <p class="card-text">Available seats: {{ session.get_available_seats }}</p>
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'session-detail' session_id=session.id %}"><button type="button" class="btn btn-primary">Buy ticket</button></a>
                {% if user.is_staff %}
                    {% if session.hall.is_updateble_hall %}
                      <a href="{% url 'update-hall' pk=session.hall.id %}"><button type="button" class="btn btn-primary">Update Hall</button></a>
                    {% endif %}
                    {% if session.is_updateble_session %}
                      <a href="{% url 'update-session' pk=session.id %}"><button type="button" class="btn btn-primary mt-2">Update Session</button></a>
                    {% endif %}
                {% endif %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% block paginate %}
      {% include 'core/paginate.html' %}
    {% endblock %}
  {% else %}
    <h2 class="text-center">There are no sessions at the moment</h2>
  {% endif %}
{% endblock %}